.card{
  border-color: transparent;
  background: lighten($fridge, 20%);
  text-align: center;
  opacity: 0;
  display: none;

  &.animate{
    animation: fade 1.8s forwards;
  }

  .card-header {
    background: $fridge;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .image {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;


    .card-image {
      display: block;
      width: 50%;
      height: 95%;
      background-color: lighten($fridge, 20%);
      background-position:  center;
      background-size: cover;

    }
  }
  .card-body {
    padding-top: 1rem;
    font-family: 'handlee';
    #scrollable{
      max-height: 14rem;
      overflow-y: auto;
    }
    .card-title {
      background: $fridge;
      font-size: 1.5rem;
      width: 100%;
      color: white;
      font-weight: bold;
    }
    ul{
     padding-inline-start: 1.5rem;
    }

    .card-text {
      text-align: left;

      li {
        list-style-type: none;
        text-wrap: normal;
      }
    ;
    }
    .group-info{
      display: flex;
      justify-content: space-between;
      border-top : 1px solid rgba(0,0,0, 0.125);
      padding: 1rem;
      .index{
        padding: .5rem 1rem;
      }
      &:last-child{
        padding-bottom: 0;
      }

      button, a.btn{
        background: $salmon;
        color: white;
        padding: .5rem 1.3rem;
        margin: 0 .5rem;
      }

    }

  }

}
