.main-container{

//for mobile
  .projects.commercial{
    display: none;
  }

  .image {
    margin-bottom: 3.5rem;
    cursor: pointer;

    &:first-of-type{
      margin-top: 6rem;
    }

    &.small{
      width: 40%;

      &.right{
        margin-left: 40%;
      }
      &.left{
        margin-left: 12%;
      }
      &.center{
        margin-left: 30%;
      }
    }
    &.middle{
      width: 55%;

      &.right{
        margin-left: 40%;
      }
      &.left{
        margin-left: 12%;
      }
      &.center{
        margin-left: 23%;
      }
    }
    &.large{
       width: 80%;

      &.right{
        margin-left: 15%;
      }
      &.left{
        margin-left: 2%;
      }
      &.center{
        margin-left: 9%;
      }
     }
    img {
      width: 100%;


    }
  }

//for larger screens

  @include mQ(1024px){
    .projects.commercial{
      display: block;
      top: 15.35%;

      li:last-child, li:first-child{
        border-bottom: none;
      }
    }
  }
  .image{
    display: none;
    margin: 0!important;
    position: absolute;

    &[data-image="2"]{
      display: block;
    }

    &:nth-of-type(odd){
      top: 53.9%;
      left: 28%;
    }

    &:nth-of-type(even){
      top: 7.8%;
      left: 52%;
    }
  }
}