.main-container{

//for mobile
  .projects.commercial{
    display: none;
  }

  .image {
    margin-bottom: 3.5rem;
    cursor: pointer;

    &:first-of-type{
      margin-top: 6rem;
    }

    &.small{
      width: 40%;

      &.right{
        margin-left: 40%;
      }
      &.left{
        margin-left: 12%;
      }
      &.center{
        margin-left: 30%;
      }
    }
    &.medium{
      width: 55%;

      &.right{
        margin-left: 40%;
      }
      &.left{
        margin-left: 12%;
      }
      &.center{
        margin-left: 23%;
      }
    }
    &.large{
       width: 80%;

      &.right{
        margin-left: 15%;
      }
      &.left{
        margin-left: 2%;
      }
      &.center{
        margin-left: 9%;
      }
    }
    img {
      width: 100%;
    }
  }
  .nav-left div, .nav-right div{
    display: none;
  }

//for larger screens

  @include mQ(1024px){
    .projects.commercial{
      display: block;
      top: 15.35%;

      li:last-child, li:first-child{
        border-bottom: none;
      }
    }
    .image{
      display: none;
      margin: 0!important;
      position: absolute;

      &[data-image="6"]{
        display: block;
      }
      &[data-image="1"]{
        display: block;
      }

      &:nth-of-type(odd){
        top: 53.9%;
        left: 28%;
      }

      &:nth-of-type(even){
        top: 7.8%;
        left: 52%;
      }

      &.large{
        width: 31.95%;
      }

      &.medium{
        width: 24%;
      }

      &.small{
        width: 16%;
      }
    }

    .nav-right div, .nav-left div{
      display: block;
      width: 4%;
      height: 7.8%;
      position: absolute;
      cursor: pointer;

      &.prev{
        background: url("../../images/composition/arrow.png") center center/contain no-repeat;
        display: none;
      }
      &.next{
        background: url("../../images/composition/arrow-outline.png") center center/contain no-repeat;
      }

    }
    .nav-right{
      .prev{
        top: 77%;
        left: 12.1%;
      }
      .next{
        top: 69.2%;
        left: 20.1%;
      }
    }
    .nav-left{
      .prev{
        left: 83.95%;
        top: 15.5%
      }
      .next{
        left: 83.95%;
        top: 38.55%;
      }
    }
  }
}