// mobile
.return{
  display: none;
}
.return-mobile{
  margin-top: 1.7vw;
  width: 6vw;
  height: 6vw;
  position: fixed;
  top: 2rem;
  left: 2%;
  background: url("../../images/composition/arrow.png") center center/contain no-repeat rgba(255,255,255,0.3);
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

}
.gallery:first-of-type{
  margin-top: 4rem;
}
.gallery {
  width: 100%;
  margin-bottom: 1rem;

  img{
    width: 100%;
  }
}

@include mQ(600px){
  .gallery{
    width: 80%;
    margin: auto;
  }
}

// larger screens
@include mQ(1024px){
  .gallery{
    cursor: pointer;
    position: absolute;
    width: 24%;

    &:first-of-type{
     margin-top: initial;
    }
  }
}