main.main-container{
  width: 100%;
  //margin-top: 1rem;
  position: relative;

  @include mQ(1024px) {
    width: 1024px;
    @include grid-height(1024px);
    background: url("../../images/composition/siatka_13.png") 0 0/contain no-repeat;
  }
  @include mQ(1200px) {
    width: 1200px;
    @include grid-height(1200px);
  }
  @include mQ(1300px) {
    width: 1300px;
    @include grid-height(1300px);
  }
  @include mQ(1400px) {
    width: 1400px;
    @include grid-height(1400px);
  }
  @include mQ(1500px) {
    width: 1500px;
    @include grid-height(1500px);
  }
  @include mQ(1600px) {
    width: 1600px;
    @include grid-height(1600px);
  }
  @include mQ(1700px) {
    width: 1700px;
    @include grid-height(1700px);
  }
  @include mQ(1800px) {
    width: 1800px;
    @include grid-height(1800px);
  }
  @include mQ(1900px) {
    width: 1900px;
    @include grid-height(1900px);
  }
  @include mQ(2000px) {
    width: 2000px;
    @include grid-height(2000px);
  }
  @include mQ(2100px) {
    width: 2100px;
    @include grid-height(2100px);
  }
  @include mQ(2200px) {
    width: 2200px;
    @include grid-height(2200px);
  }


}