
main.main-container{
  //for mobile

  .author{
    width: 70%;
    margin: 2rem 0 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 5vw;
    .pietrzak{
      width: 70%;
      word-spacing: .3em;

    }

    .blob{
      width: 15%;
      margin-right: 1rem;
      img{
        width: 100%;
      }
    }
  }
  .logo{
    display: none;
  }
  .projects, .contact, .vortex{
    font-size: 5vw;
    li{
      display: inline-block;
      border-bottom: .4vw solid black;
      margin-bottom: .8vh;
    }
  }

  .projects{
    padding: 4vw 0 9vw 3vw;
    width: 45%;
    margin: 5rem 0 0 40%;
    background: url("../../images/composition/Prostokąt-faktura.png");
  }

  .contact{
    padding: 4vw 0 22vw 3vw;
    width: 36%;
    margin: 3rem 0 0 18%;
    background: url("../../images/mobile/Prostokąt-blekitny-mobilna.png");
  }

  .vortex{
    text-align: center;
    padding: 4vw 0 1vw 0;
    width: 34%;
    margin: 3rem 0 4rem 50%;
    background: url("../../images/composition/Prostokąt 1.png");
  }

  // for wider screens

  @include mQLandscape{



    .projects, .logo, .author, .contact, .vortex{
      position: absolute;
      margin: 0;
      z-index: 2;
    }

    .projects, .contact, .vortex{
      padding: 0;
      height: 30.75%;
      font-size: 1.2rem;
      li{
        display: inline-block;
        border-bottom: .1rem solid black;
        margin-bottom: .6vh;
      }
    }

    .author{
      width: 12.1%;
      top: 3.5vw;
      font-size: .7rem;
      .pietrzak{
        text-align: center;
        width: 100%;
      }
      .blob{
        display: none;
      }
    }

    .logo{
      display: block;
      left: 34%;
      top: 14%;
      z-index: 2;
      width: 16%;
      img{
        width: 100%;
      }
    }

    .projects{
      left: 20%;
      top: 46.15%;
      width: 20.05%;
      padding: 1.2em 0 0 1em;

    }

    .contact{
      background: url("../../images/composition/square-white.png");
      left: 56%;
      top: 23.10%;
      width: 16.05%;
      padding: 1em 0 0 1.2em;


    }

    .vortex{
      left: 72%;
      top: 53.83%;
      width: 16.05%;
      padding: 1em 1.2em 0 1.2em;
    }

  }
  @include mQ(1200px) {
    .author{
      font-size: .8rem;
    }
    .projects, .contact, .vortex{
      font-size: 1.35rem;
    }
  }
  @include mQ(1300px) {
    .author{
      font-size: .9rem;
    }
    .projects, .contact, .vortex{
      font-size: 1.45rem;
    }
  }
  @include mQ(1400px) {
    .author{
      font-size: 1rem;
    }
    .projects, .contact, .vortex{
      font-size: 1.55rem;
    }
  }
  @include mQ(1500px) {
    .author{
      font-size: 1.1rem;
    }
    .projects, .contact, .vortex{
      font-size: 1.65rem;
    }
  }
  @include mQ(1600px) {
    .projects, .contact, .vortex{
      font-size: 1.7rem;
    }
  }
  @include mQ(1700px) {
    .author{
      font-size: 1.2rem;
    }
    .projects, .contact, .vortex{
      font-size: 1.8rem;
    }
  }
  @include mQ(1800px) {
    .projects, .contact, .vortex{
      font-size: 1.9rem;
    }
  }
  @include mQ(1900px) {
    .author{
      font-size: 1.3rem;
    }
    .projects, .contact, .vortex{
      font-size: 1.9rem;
    }
  }
}
