.main-container{

// for mobile

  .projects.personal{
    display: none;
  }

// for larger screens

  @include mQLandscape{
    .projects.personal{
      display: block;
      top: calc(15.41% + 1px);

      li:nth-child(2), li:first-child{
        border-bottom: none;
      }
    }
  }
}