main.main-container{
  max-width: 2400px;
  width: 100%;
  position: relative;

  @include mQLandscape {
    width: 1001px;
    .row{
      height: 40px;
    }
  }
  @include mQ(1100px) {
    width: 1076px;
    .row{
      height: 43px;
    }
  }
  @include mQ(1200px) {
    width: 1151px;
    .row{
      height: 46px;
    }
  }
  @include mQ(1300px) {
    width: 1251px;
    .row{
      height: 50px;
    }
  }
  @include mQ(1400px) {
    width: 1326px;
    .row{
      height: 53px;
    }
  }
  @include mQ(1500px) {
    width: 1426px;
    .row{
      height: 57px;
    }
  }
  @include mQ(1600px) {
    width: 1526px;
    .row{
      height: 61px;
    }
  }
  @include mQ(1700px) {
    width: 1626px;
    .row{
      height: 65px;
    }
  }
  @include mQ(1800px) {
    width: 1726px;
    .row{
      height: 69px;
    }
  }
  @include mQ(1900px) {
    width: 1801px;
    .row{
      height: 72px;
    }
  }


  .content-wrapper{
    width: 100%;
    //margin-left:-1px;

    @include mQLandscape {
      position: absolute;
      //background: red;
    }

    &.rows13{
      height: 100%;
      top: 0;
    }
    &.rows14{
      height: 92.85%;
      top: 7.14%;
    }
    &.rows15{
      height: 86.66%;
      top: 6.67%;
    }
    &.rows16{
      height: 81.25%;
      top: 6.25%;
    }
    &.rows17{
      height: 76.47%;
      top: 11.76%;
    }
    &.rows18{
      height: 72.22%;
      top: 11.11%;
    }
    &.rows19{
      height: 68.42%;
      top: 15.79%;
    }
    &.rows20{
      height: 65%;
      top: 15%;
    }

  }

  .table{
    position: relative;
    display: none;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    @include mQLandscape{
      display: table;
    }
    .row{
      display: table-row;
      &.hidden{
        display: none;
      }
      .cell{
        display: table-cell;
        border: 1px solid black;
        width: 4%;
      }
      &:nth-child(1), &:nth-child(2) {
        .cell {
          &:first-child, &:nth-child(2), &:nth-child(3) {
            visibility: hidden;
          }
        }
      }
    }

  }

}