.vid-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,.9);
  .vid-container{
    width: 95%;
    padding-top: 56.25%;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    z-index: 2;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
  @include mQ(1024px){
    background: initial;

    .vid-container{
      transform: translateY(0);
      width: 32vw;
      height: 18vw;
      padding-top: initial;
      &.odd{
        top: 30%;
        left: 10%;
      }
      &.even{
        top: 15%;
        left: 55%;
      }
    }

  }

}
