@mixin mQ($width) {
  @media (min-width: $width) {
    @content
  }
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('../../fonts/UntitledSansTest-RegularItalic.eot');
  src: url('../../fonts/UntitledSansTest-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-RegularItalic.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-RegularItalic.woff') format('woff'),
  url('../../fonts/UntitledSansTest-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Untitled Sans Test';
  src: url('../../fonts/UntitledSansTest-LightItalic.eot');
  src: url('../../fonts/UntitledSansTest-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-LightItalic.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-LightItalic.woff') format('woff'),
  url('../../fonts/UntitledSansTest-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Untitled Sans Test';
  src: url('../../fonts/UntitledSansTest-MediumItalic.eot');
  src: url('../../fonts/UntitledSansTest-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-MediumItalic.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-MediumItalic.woff') format('woff'),
  url('../../fonts/UntitledSansTest-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('../../fonts/UntitledSansTest-Regular.eot');
  src: url('../../fonts/UntitledSansTest-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-Regular.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-Regular.woff') format('woff'),
  url('../../fonts/UntitledSansTest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('../../fonts/UntitledSansTest-Bold.eot');
  src: url('../../fonts/UntitledSansTest-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-Bold.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-Bold.woff') format('woff'),
  url('../../fonts/UntitledSansTest-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans Test';
  src: url('../../fonts/UntitledSansTest-Black.eot');
  src: url('../../fonts/UntitledSansTest-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-Black.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-Black.woff') format('woff'),
  url('../../fonts/UntitledSansTest-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('../../fonts/UntitledSansTest-BoldItalic.eot');
  src: url('../../fonts/UntitledSansTest-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-BoldItalic.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-BoldItalic.woff') format('woff'),
  url('../../fonts/UntitledSansTest-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Untitled Sans Test';
  src: url('../../fonts/UntitledSansTest-Medium.eot');
  src: url('../../fonts/UntitledSansTest-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-Medium.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-Medium.woff') format('woff'),
  url('../../fonts/UntitledSansTest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans Test';
  src: url('../../fonts/UntitledSansTest-Light.eot');
  src: url('../../fonts/UntitledSansTest-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-Light.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-Light.woff') format('woff'),
  url('../../fonts/UntitledSansTest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans Test';
  src: url('../../fonts/UntitledSansTest-BlackItalic.eot');
  src: url('../../fonts/UntitledSansTest-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/UntitledSansTest-BlackItalic.woff2') format('woff2'),
  url('../../fonts/UntitledSansTest-BlackItalic.woff') format('woff'),
  url('../../fonts/UntitledSansTest-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
